@-moz-keyframes moveit {
    0% {
        -moz-transform: translate(0, 0);
    }
    25% {
        -moz-transform: translate(40px, 0);
    }
    50% {
        -moz-transform: translate(0, 0);
    }
    75% {
        -moz-transform: translate(-40px, 0);
    }
    100% {
        -moz-transform: translate(0, 0);
    }
}

@-webkit-keyframes moveit {
    0% {
        -webkit-transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(40px, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(-40px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-o-keyframes moveit {
    0% {
        -o-transform: translate(0, 0);
    }
    25% {
        -o-transform: translate(40px, 0);
    }
    50% {
        -o-transform: translate(0, 0);
    }
    75% {
        -o-transform: translate(-40px, 0);
    }
    100% {
        -o-transform: translate(0, 0);
    }
}

@keyframes moveit {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(40px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(-40px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

body {
    text-align: center;
    padding-top: 4em;
}

.moveitview-container {
    display: inline-block;
    opacity: 0.5;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align:center;
    padding: 2em;
    background: #eee;
    -webkit-transition: opacity 0.3s ease;
       -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
}
.is-moveitview-rendered {
    opacity: 1;
}

.moveitview-shake {
    -webkit-animation: moveit 0.5s infinite ease-in-out;
       -moz-animation: moveit 0.5s infinite ease-in-out;
         -o-animation: moveit 0.5s infinite ease-in-out;
            animation: moveit 0.5s infinite ease-in-out;
}
